<div class="example">

  <%= form_for(@modulo_receptora) do |f| %>
      <% if @modulo_receptora.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@modulo_receptora.errors.count, "error") %> prohibited this modulo_receptora from being saved:</h2>

            <ul>
              <% @modulo_receptora.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="container-fluid centrado">
        <div class="row">
          <div class="spamlol">
            <div class="field">
              <%= f.label :paciente_id %><br>
              <%= f.text_field :paciente_id %>
            </div>
            <div class="field">
              <%= f.label :nombre_entidad %><br>
              <%= f.text_field :nombre_entidad %>
            </div>
            <div class="field">
              <%= f.label :tipo_entidad %><br>
              <%= f.text_field :tipo_entidad %>
            </div>
            <div class="field">
              <%= f.label :nombre_receptor %><br>
              <%= f.text_field :nombre_receptor %>
            </div>
            <div class="field">
              <%= f.label :cargo %><br>
              <%= f.text_field :cargo %>
            </div>
          </div>
          <div class="spamlol">
            <div class="field">
              <%= f.label :ciudad %><br>
              <%= f.text_field :ciudad %>
            </div>
            <div class="field">
              <%= f.label :departamento %><br>
              <%= f.text_field :departamento %>
            </div>
            <div class="field">
              <%= f.label :direccion %><br>
              <%= f.text_field :direccion %>
            </div>
            <div class="field">
              <%= f.label :telefono %><br>
              <%= f.text_field :telefono %>
            </div>
            <div class="field">
              <%= f.label :email %><br>
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="spamlol">
            <div class="field">
              <%= f.label :fecha_recepcion %><br>
              <%= f.date_select :fecha_recepcion %>
            </div>
            <div class="field">
              <%= f.label :fecha_valoracion %><br>
              <%= f.date_select :fecha_valoracion %>
            </div>
            <div class="field">
              <%= f.label :fecha_elaboracion %><br>
              <%= f.date_select :fecha_elaboracion %>
            </div>
            <div class="field">
              <%= f.label :fecha_notificacion %><br>
              <%= f.date_select :fecha_notificacion %>
            </div>
          </div>
            <div class="spamlol">
              <div class="field">
                <%= f.label :numero_dictamen %><br>
                <%= f.text_field :numero_dictamen %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            </div>
          </div>
        </div>
      </div>


  <% end %>
</div>
