<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @modulo_receptora.paciente %>
</p>

<p>
  <strong>Nombre entidad:</strong>
  <%= @modulo_receptora.nombre_entidad %>
</p>

<p>
  <strong>Tipo entidad:</strong>
  <%= @modulo_receptora.tipo_entidad %>
</p>

<p>
  <strong>Nombre receptor:</strong>
  <%= @modulo_receptora.nombre_receptor %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @modulo_receptora.cargo %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @modulo_receptora.ciudad %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @modulo_receptora.departamento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @modulo_receptora.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @modulo_receptora.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @modulo_receptora.email %>
</p>

<p>
  <strong>Fecha recepcion:</strong>
  <%= @modulo_receptora.fecha_recepcion %>
</p>

<p>
  <strong>Fecha valoracion:</strong>
  <%= @modulo_receptora.fecha_valoracion %>
</p>

<p>
  <strong>Fecha elaboracion:</strong>
  <%= @modulo_receptora.fecha_elaboracion %>
</p>

<p>
  <strong>Fecha notificacion:</strong>
  <%= @modulo_receptora.fecha_notificacion %>
</p>

<p>
  <strong>Numero dictamen:</strong>
  <%= @modulo_receptora.numero_dictamen %>
</p>

<%= link_to 'Edit', edit_modulo_receptora_path(@modulo_receptora) %> |
<%= link_to 'Back', modulo_receptoras_path %>
