<div class="example">
  <%= form_for(@modulo_calificada) do |f| %>
      <% if @modulo_calificada.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@modulo_calificada.errors.count, "error") %> prohibited this modulo_calificada from being saved:</h2>

            <ul>
              <% @modulo_calificada.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="container-fluid centrado">
        <div class="row">
          <div class="spamlol">
            <div class="field">
              <%= f.label :nombre_completo %><br>
              <%= f.text_field :nombre_completo %>
            </div>
            <div class="field">
              <%= f.label :genero %><br>
              <%= f.text_field :genero %>
            </div>
            <div class="field">
              <%= f.label :tipo_documento %><br>
              <%= f.text_field :tipo_documento %>
            </div>
            <div class="field">
              <%= f.label :numero_identificacion %><br>
              <%= f.text_field :numero_identificacion %>
            </div>
            <div class="field">
              <%= f.label :fecha_nacimiento %><br>
              <%= f.text_field :fecha_nacimiento %>
            </div>
          </div>
          <div class="spamlol">
            <div class="field">
              <%= f.label :paciente_id %><br>
              <%= f.text_field :paciente_id %>
            </div>

            <div class="field">
              <%= f.label :edad %><br>
              <%= f.number_field :edad %>
            </div>
            <div class="field">
              <%= f.label :lugar_nacimiento %><br>
              <%= f.text_field :lugar_nacimiento %>
            </div>
            <div class="field">
              <%= f.label :estrato_economico %><br>
              <%= f.text_field :estrato_economico %>
            </div>
            <div class="field">
              <%= f.label :nivel_ingresos %><br>
              <%= f.text_field :nivel_ingresos %>
            </div>
          </div>
          <div class="spamlol">
            <div class="field">
              <%= f.label :etapa_ciclo_vital %><br>
              <%= f.text_field :etapa_ciclo_vital %>
            </div>
            <div class="field">
              <%= f.label :ciudad %><br>
              <%= f.text_field :ciudad %>
            </div>
            <div class="field">
              <%= f.label :departamento %><br>
              <%= f.text_field :departamento %>
            </div>
            <div class="field">
              <%= f.label :direccion %><br>
              <%= f.text_field :direccion %>
            </div>
            <div class="field">
              <%= f.label :telefono %><br>
              <%= f.text_field :telefono %>
            </div>
          </div>
          <div class="spamlol">
            <div class="field">
              <%= f.label :email %><br>
              <%= f.text_field :email %>
            </div>
            <div class="field">
              <%= f.label :nivel_escolaridad %><br>
              <%= f.text_field :nivel_escolaridad %>
            </div>
            <div class="field">
              <%= f.label :estado_civil %><br>
              <%= f.text_field :estado_civil %>
            </div>
            <div class="field">
              <%= f.label :afiliacion %><br>
              <%= f.text_field :afiliacion %>
            </div>
            <div class="field">
              <%= f.label :motivo_calificacion %><br>
              <%= f.text_field :motivo_calificacion %>
            </div>
          </div>
          <div class="spamlol">
            <div class="actions">
              <%= f.submit %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
