<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @modulo_calificada.paciente %>
</p>

<p>
  <strong>Nombre completo:</strong>
  <%= @modulo_calificada.nombre_completo %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @modulo_calificada.genero %>
</p>

<p>
  <strong>Tipo documento:</strong>
  <%= @modulo_calificada.tipo_documento %>
</p>

<p>
  <strong>Numero identificacion:</strong>
  <%= @modulo_calificada.numero_identificacion %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @modulo_calificada.fecha_nacimiento %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @modulo_calificada.edad %>
</p>

<p>
  <strong>Lugar nacimiento:</strong>
  <%= @modulo_calificada.lugar_nacimiento %>
</p>

<p>
  <strong>Estrato economico:</strong>
  <%= @modulo_calificada.estrato_economico %>
</p>

<p>
  <strong>Nivel ingresos:</strong>
  <%= @modulo_calificada.nivel_ingresos %>
</p>

<p>
  <strong>Etapa ciclo vital:</strong>
  <%= @modulo_calificada.etapa_ciclo_vital %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @modulo_calificada.ciudad %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @modulo_calificada.departamento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @modulo_calificada.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @modulo_calificada.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @modulo_calificada.email %>
</p>

<p>
  <strong>Nivel escolaridad:</strong>
  <%= @modulo_calificada.nivel_escolaridad %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @modulo_calificada.estado_civil %>
</p>

<p>
  <strong>Afiliacion:</strong>
  <%= @modulo_calificada.afiliacion %>
</p>

<p>
  <strong>Motivo calificacion:</strong>
  <%= @modulo_calificada.motivo_calificacion %>
</p>

<%= link_to 'Edit', edit_modulo_calificada_path(@modulo_calificada) %> |
<%= link_to 'Back', modulo_calificadas_path %>
